@{
    ViewBag.Title = "Home Page";
}
<img src="~/Images/493679.jpg" />

<div class="jumbotron">
    <h1>H & H Lawn and Landscaping Service </h1>
    <p class="lead"> Freach Cuts Guaranteed</p>
</div>

